
<h3>Inserir Cidade</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()" #cidadeForm="ngForm">

        <div class="form-group">
            <label for="name">ID Global</label>
            <input type="text" class="form-control" id="idGlobal" required [(ngModel)]="cidade.idGlobal" name="idGlobal">
        </div>

        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="nome" required [(ngModel)]="cidade.nome" name="nome">
        </div>

        <div class="form-group">
            <label for="name">Pais</label>
            <input type="text" class="form-control" id="pais" required [(ngModel)]="cidade.pais" name="pais">
        </div>

        <div class="form-group">
            <label for="name">Sigla do pais</label>
            <input type="text" class="form-control" id="sglPais" required [(ngModel)]="cidade.sglPais" name="sglPais">
        </div>

        <div class="form-group">
            <label for="name">Latitude</label>
            <input type="text" class="form-control" id="latitude" required [(ngModel)]="cidade.latitude" name="latitude">
        </div>

        <div class="form-group">
            <label for="name">LongituDe</label>
            <input type="text" class="form-control" id="longitude" required [(ngModel)]="cidade.longitude" name="longitude">
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!cidadeForm.form.valid" >Enviar</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Dados enviados com sucesso!</h4>
</div>